!!! 5
html
  head
    title !{appName}-#{version} 
    link(rel='stylesheet', href='/css/core.css')
    link(rel='stylesheet', href='/css/form.css')
    link(rel='stylesheet', href='/css/jquery-ui.css')
    // -link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css')
    // -script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js');
    // -script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')

    script(type='text/javascript', src='/js/jquery.min.js')
    script(type='text/javascript', src='/js/jquery-ui.min.js')
    script(type='text/javascript', src='/js/jquery.validate.pack.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/json2.js')
    block scripts
  body
    #content
      !{flashMessages()}
      #header.clear
           h1(align='center')  聊天服务器
           br
      - if (isLoggedIn())
      include nav
      #logindiv
        - if (isLoggedIn())
           !{user.pid}, 
           a.ui-button(href='/logout') Logout
        - else
           a.ui-button(href='/') Login
      block body    
    script(type='text/javascript', src='/js/core.js')
