
h2  欢迎进入管理系统
.topnav
  ul
   li#nav-admin-useronline.fl 
    a(href='/admin/useronline') 在线用户
   li#nav-chat.fl 
    a(href='/chat') 连接聊天服务器
   li#nav-admin-banusers.fl 
    a(href='/admin/banusers') 封禁用户 
   li#nav-admin-sysnotice.fl 
    a(href='/admin/sysnotice') 系统通知设置 
   li#nav-help.fl 
    a(href='/help')  帮助
.clear 
