/*
 * Define global colors
 */
colors-background = #f0f4ff
colors-darkbackground = #363d56
colors-mediumbackground = #8b96b9
colors-lightbackground = #cbd3ec
colors-fonttitle = #2c334a
colors-fontbody = #373737