
form
   label(for='banuid',style='font-size:26px;') 封禁Uid:
   input#banuid.required(name='banuid',size=5) 
   div#submit-button.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only 提交

